:root {
    --primary-green200: hsl(149,38%,91%);
    --primary-green600: hsl(169,82%,27%);
    --primary-red900: hsl(187,24%,22%);
    --neutral-white: hsl(0, 0%,100%);
    --neutral-grey500: hsl(186,15%,59%);
    --neutral-grey: hsl(187,24%,22%);   
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

body {
    background-color: var(--primary-green200);
    font-family: "Karla", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    margin-top: 1em;
}

.content__card {
    background-color: var(--neutral-white);
    margin: 1em;
    border-radius: .5em;
    padding: 1em;
    max-width: 375px;
}

.form-fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin:  1em 0;
}

.title__form {
    font-weight: 700;
    color: var(--primary-red900);
    font-size: 1.5em;
}

input {
    height: 3em;
    border-radius: .5em;
    border: 1px solid var(--neutral-grey500);
}

input:focus {
    padding-left: 1em;
    outline: none;
}

.error__input {
    color: red;
}

.div__contact {
    display: flex;
    flex-direction: column;
    gap: 1em;
    line-height: 1;
    margin: 2em 0 1em 0;
}

.contact__separation {
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.select {
    border: 1px solid var(--neutral-grey500);
    border-radius: .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding-left: 1em;
    margin: .5em 0;
}

.textarea {
    border-radius: .5em;
    border: 1px solid var(--neutral-grey500);
    height: 10em;
    margin-top: .5em;
}

.textarea:focus{
    outline: none;
    padding-left: 1em;
}

.content__checkbox {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    color: var(--primary-red900);
}

.inputCheck {
    display: flex;
    align-items: center;
    
    width: 100%;
}

.button__submit {
    width: 100%;
    color: var(--neutral-white);
    background-color: var(--primary-green600);
    border: none;
    border-radius: .5em;
    height: 3em;
}

/* input:required:invalid + label::after {
  content: " *";
  color: red;
} */

.label, .label__query{
    color: var(--primary-red900);
}

.label::after {
  content: " *";
  color: var(--primary-green600);
}

.legend__style::after {
    content: " *";
    color: var(--primary-green600);
}

.legend__style {
    color: var(--primary-red900);
}

@media (min-width: 900px) {

    main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

  .content__card {
    width: 100%;
    max-width: 1200px;
  }
}